trigger:
- master
stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: Build
    displayName: 'Build Job'
    pool:
      name: 'Azure Pipelines'
    steps:
    - task: NodeTool@0
      displayName: 'Use Node.js 20.x'
      inputs:
        versionSpec: '20.x'
        
    - script: |
        npm install
      displayName: 'npm install'
      
    - script: |
        npm run build
      displayName: 'npm run build'    
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'build'
        ArtifactName: 'naveen_youtube_clone'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy Stage'
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: 'Deploy Job'
    pool:
      name: 'Azure Pipelines'
    steps:
    - task: DownloadBuildArtifacts@0
      displayName: 'Download Build Artifacts'
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'naveen_youtube_clone'
        downloadPath: '$(System.ArtifactsDirectory)'
        
    - task: AzureRmWebAppDeployment@5
      inputs:
        ConnectionType: 'AzureRM'
        azureSubscription: 'Azure subscription 1(REDACTED_SUBSCRIPTION_ID)'
        appType: 'webAppLinux'
        WebAppName: 'naveen-test-web-app'
        deployToSlotOrASE: true
        ResourceGroupName: 'naveen_test'
        SlotName: 'production'
        packageForLinux: '$(System.ArtifactsDirectory)/naveen_youtube_clone'
        RuntimeStack: 'NODE|20-lts'
        DeploymentTypeLinux: 'oneDeploy'   

    